<header class="p-3 mb-3 border-bottom">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
          <use xlink:href="#bootstrap"></use>
        </svg>
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a class="nav-link px-2 link-secondary" routerLink='lottery' routerLinkActive=active
            [routerLinkActiveOptions]="{ exact: true }">
            Lottery
          </a></li>
      </ul>

      <div class="text-end">
        <div><img
            src="https://d33wubrfki0l68.cloudfront.net/fcd4ecd90386aeb50a235ddc4f0063cfbb8a7b66/4295e/static/bfc04ac72981166c740b189463e1f74c/40129/eth-diamond-black-white.jpg"
            alt="mdo" width="32" height="32" class="rounded-circle float-lg-start">
        </div>
        <div *ngIf="account" class="header-info">
          <div>
            <p class="small mb-0">{{account}}</p>
            <p class="small" *ngIf="userBalance"> {{userBalance}} ether</p>
          </div>
        </div>
        <div *ngIf="!account" class="header-info">
          <button class="btn btn-primary" (click)="onConnectAccount()">Connect</button>

        </div>
      </div>
    </div>
  </div>
</header>
