# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db

#Solidity project
ethereum/contracts/lottery/node_modules/*
ethereum/contracts/lottery/.env
ethereum/contracts/lottery/compiledContract.json
ethereum/contracts/lottery/node_modules/.bin/_mocha
ethereum/contracts/lottery/contracts/artifacts
ethereum/contracts/artifacts
ethereum/node_modules
